* {
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 10px;
}
.log_link {
    padding: 10px 30px;
    text-decoration: none;
    color: lightskyblue;
}
.log_link:first-child {
    border-right: 2px solid lightseagreen;
}
.header_text {
    text-align: center;
    flex-basis: 100%;
    padding: 30px;
    background: lightseagreen;
}
h1 {
    color: #fff;
    font-size: 36px;
}
/* Navigation */
.nav {
    margin-top: 15px;
    height: 70px;
    text-align: center;
    background: lightseagreen;
    display: flex;
    align-items: center;
} 
.nav_link {
    flex-basis: 100%;
    align-items: center;
    height: 30px;
    padding-top: 7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    border-right: 2px solid lightskyblue;
    transition: 0.5s;
}
.nav_link:last-child {
    border: none;
}
.nav_link:hover {
    background: lightblue;
}
/* Banners */
.container {
    display: flex;
    margin-top: 15px;
}
.banner {
    margin-right: 10px;
}
.banner1 {
    position: relative;
    width: 250px;
    height: 150px;
    background: url(img/back.jpg);
    margin-bottom: 5px;
}
.banner1_head {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: rgb(30, 90, 87);
}
.banner1_link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background: rgba(32, 178, 170, 0.2);
}
.banner2 {
    position: relative;
    width: 250px;
    height: 180px;
    background: url(img/back.jpg);
    margin-bottom: 5px;
}
.banner2_in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.5);
}
.banner2_head {
    text-align: center;
    color: rgb(30, 90, 87);
}
.banner2_text {
    width: 180px;
    text-align: justify;
}
.banner3 {
    position: relative;
    width: 250px;
    height: 150px;
    background: url(img/back.jpg);
    margin-bottom: 5px;
}
.banner3_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background: rgba(32, 178, 170, 0.2);
}
.banner4 {
    display: inline-block;
    width: 49%;
    height: 100px;
    background: url(img/back.jpg);
    position: relative;
    text-align: center;
}
.banner4_head {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: rgb(30, 90, 87);
}
.banner5 {
    position: relative;
    width: 250px;
    height: 100px;
    background: url(img/back.jpg);
    text-align: center;
    margin-bottom: 10px;
}
.banner5_head {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: rgb(30, 90, 87);
}

.text p:nth-child(even) {
    background: lightcyan;
}
.text p:nth-child(odd) {
    background: lightblue;
}
.text p {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 30px;
    background: lightseagreen;
}

/* Media */

@media (max-width: 600px) {
    .nav {
        display: block;
        height: auto;
    }
    .nav_link {
        display: block;
        text-align: center;
        border: none;
    }
    .container {
        flex-wrap: wrap;
    }
    .text {
        order: 1;
    }
    .banner {
        order: 2;
        width: 100%;
        margin: 0;
    }
    .banner1 {
        width: 100%;
    }
    .banner2 {
        width: 100%;
    }
    .banner3 {
        width: 100%;
    }
    .banner5 {
        width: 100%;
    }
}